body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #form1 {
            width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
             height: 380px;
        }
        h2 {
            margin-bottom: 20px;
            text-align: center;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* Style for the Login button */
        #Button2 {
            border-style: none;
                border-color: inherit;
                border-width: medium;
                background-color: #5376FB;
            color: white;
            padding: 10px 20px;
            margin-top: 40px;
            border-radius: 4px;
            cursor: pointer;
            }

        /* Style for the Login button on hover */
        #Button2:hover {
            background-color: #45a049;
           
            
        }

        /* Style for the "Not Registered" paragraph */
        p {
            margin-bottom: 15px;
            text-align: center;
        }

        /* Style for the register link */
        a {
            color: #007bff;
            text-decoration: none;
        }

        /* Style for the register link on hover */
        a:hover {
            text-decoration: underline;
        }

        /* Style for the error label */
        #lblError {
            text-align: center;
            display: block;
            margin-bottom: 15px;
        }